<!-- ========================= INTRO SECTION ============================== -->

<section id="detail" class="parallax-section sgo6_header">

  <h1 class = "wow bounceIn">SGO <i>6</i></h1>
  <p>language immersion tour</p>

</section>

<section id="intro" class="parallax-section">

  <div class="container">

    <!-- <div class = "row sgo6_header">
      <h1 class = "wow bounceIn">SGO <i>6</i></h1>
      <p>language immersion tour</p>
    </div> -->

    <div class="row">

      <div class="col-md-12 col-sm-12">
        <h2 class="wow bounceIn nome_descritivo" data-wow-delay="0.9s">#small</br></br> group</br></br> of six</h2>
      </div>

    </div>
  </div>
</section>

<section id = "detail" class="parallax-section">
  <h1 class="wow fadeInUp" data-wow-delay="1.6s">Abroad experiences leads to fluency</h1>
  <a href="#overview" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">More info</a>
</section>

<!-- ========================= VIDEO SECTION ============================== -->
<section id="video" class="parallax-section">
  <div class="container">
    <div class="row">

      <div class="wow fadeInUp col-md-offset-3 col-md-6 col-sm-12" data-wow-delay="1.6s">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RcmrbNRK-jY" allowfullscreen="allowfullscreen"></iframe>
        </div>
      </div>

    </div>
  </div>
</section>

    <!-- ========================= ABOUT US SECTION ============================== -->
    <section id="overview" class="parallax-section">
      <div class="container">
        <div class="row">

          <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s">
            <h3 class="text-cap">Why you should join us</h3>
            <p>We believe every second language learner needs the opportunity to
              make use of their skills in the country where it is spoken.
              Experiential learning has an effective impact on the process of
              building confidence to speak a language naturally.
            </p>
          </div>

          <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="0.6s">
            <img src="images/climate-kic-350836.jpg" class="img-responsive" alt="Overview">
          </div>

        </div>
      </div>
    </section>

  <section id="faq" class="parallax-section">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-12">
        <div id="owl-images" class="owl-carousel">
          <div>
            <img src="images/orlando1.jpg" alt="">
            <h3 class="text-center">Orlando</h3>
          </div>
          <div>
            <img src="images/orlando2.png" alt="">
            <h3 class="text-center">Orlando</h3>
           </div>
          <div>
            <img src="images/miami0.jpg" alt="">
            <h3 class="text-center">Miami</h3>
           </div>
          <div>
            <img src="images/miami1.jpg" alt="">
            <h3 class="text-center">Miami</h3>
           </div>
          <div>
            <img src="images/miami2.jpg" alt="">
            <h3 class="text-center">Miami</h3>
           </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="depoimentos col-md-offset-3 col-md-6">
        <div id="owl-testimonials" class="owl-carousel">
            <div class="testimonial">
              <h4>"Quisque facilisis scelerisque venenatis. Nam vulputate ultricies luctus."</h4>
              <p class="text-right">Fulano.</p>
            </div>
            <div class="testimonial">
              <h4>"Excepteur sint occaecat cupidatat non proident, sunt in culpa."</h4>
              <p class="text-right">João.</p>
            </div>
            <div class="testimonial">
              <h4>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt."</h4>
              <p class="text-right">Pedro.</p>
            </div>
            <div class="testimonial">
              <h4>"Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi."</h4>
              <p class="text-right"> Maria.</p>
            </div>

        </div>
      </div>
    </div>
  </section>

  <section id="detail" class="parallax-section">
  	<div class="container">
  		<div class="row">

  			<div class="wow fadeInLeft col-md-3 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" data-wow-delay="0.3s">
  				<a href="#overview" class="smoothScroll">

            <h3>
              <i class="float-left fa fa-globe"></i>
              Tours
            </h3>
  				</a>
  			</div>

  			<div class="wow fadeInUp col-md-3 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" data-wow-delay="0.6s">
  				<a href="#video" class="smoothScroll">

  					<h3>Contact us <i class="float-right fa fa-phone"></i></h3>
  				</a>
  			</div>

  			<div class="wow rotateInDownLeft col-md-3 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" data-wow-delay="0.9s">
  				<a href="#photos" class="smoothScroll">

  					<h3> <i class="float-left fa fa-bed"></i> Accommodation</h3>
  				</a>
  			</div>
  			<div class="wow rotateInDownRight col-md-3 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" data-wow-delay="1.2s">
  				<a href="#speakers" class="smoothScroll">
  					<h3>Investment <i class="float-right fa fa-money"></i></h3>
  				</a>
  			</div>
  			<div class="wow fadeInDown col-md-2 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" data-wow-delay="1.8s">
  				<a href="#register" class="smoothScroll">
  					<h3><i class="float-left fa fa-plane"></i> Book Now</h3>
  				</a>
  			</div>
  		</div>
  	</div>
  </section>
