<!-- ========================= INTRO SECTION ============================== -->
<section id="intro" class="parallax-section">

  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12">

        <h2 class="wow bounceIn nome_descritivo" data-wow-delay="0.9s">Experiences Abroad</h2>
        <br>
        <h2 class="wow bounceIn nome_descritivo" data-wow-delay="0.9s">Leads you to Fluency</h2>
      </div>

    </div>
  </div>
</section>

<!-- ========================= 3 colunas ============================== -->
<section id="three">
    <div class="bg-color-sky-light" data-auto-height="true">
        <div class="content-lg container">
            <div class="row row-space-1 margin-b-2">
                <div class="col-sm-4 sm-margin-b-2">
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                        <div class="service" data-height="height">
                            <div class="service-element">

                            </div>
                            <div class="fancy">
                                <h3>What</h3>
                                <p class="margin-b-5">Xprencit designs language immersion programs for very small groups of intermediate and advanced English learners from all over the world that feel like they don’t succeed speaking a second language naturally and with confidence yet even after long years studying. The program is based on immersive activities like cultural events, language lessons, interactions with locals…</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 sm-margin-b-2">
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                        <div class="service" data-height="height">
                            <div class="service-element">

                            </div>
                            <div class="fancy">
                                <h3>Why</h3>
                                <p class="margin-b-5">We believe that every second language learner needs to put what they’ve studied for long time in practice but did not have the opportunity so far. International experiences must be part of your education, whatever your goals, it opens doors and will make you more competitive in the labor market. To make this experience possible with low prices is our main goal. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                        <div class="service" data-height="height">
                            <div class="service-element">

                            </div>
                            <div class="fancy">
                                <h3>How</h3>
                                <p class="margin-b-5">Through an interview we organize small groups according to the level and interest of the learners. What you should keep in mind is that you must communicate full time in the language at hand right from the beginning of the process like we’re doing now. This effort is one of the main ensures you the quality of our service.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="allcolums"> <div class="colum1"> TEXTO COLUNA 1</div> <div class="colum2"> TEXTO COLUNA 2</div> <div class="colum3"> TEXTO COLUNA 3</div> <div style="clear: both;"> </div> </div> -->
        </section>
        <!-- ========================= ABOUT US SECTION ============================== -->
        <section id="overview" class="parallax-section">

            <div class="container">
                <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12"></div>

                </div>
            </div>

            <!-- <div class="container"> <div class="row"> <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s"> <h3 class="text-cap">Why you should join us</h3> <p>We believe every second language learner needs the opportunity to make use of their
            skills in the country where it is spoken. Experiential learning has an effective impact on the process of building confidence to speak a language naturally. </p> </div> <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="0.6s"> <img
            src="images/climate-kic-350836.jpg" class="img-responsive" alt="Overview"> </div> </div> </div> -->
        </section>

        <!-- <section id="faq" class="parallax-section"> <div class="row"> <div class="col-md-offset-3 col-md-6 col-sm-12"> <div id="owl-images" class="owl-carousel"> <% @galleries.each do |gallery| %> <div> <%= image_tag gallery.photo %> <h3
        class="text-center"><%= gallery.title %></h3> </div> <% end %> </div> </div> </div> <div class="row"> <div class="depoimentos col-md-offset-3 col-md-6"> <div id="owl-testimonials" class="owl-carousel"> <% unless @testimonials.nil? %> <%
        @testimonials.each do |testimonial| %> <div class="testimonial"> <h4>"<%= testimonial.quote %>"</h4> <p class="text-right"><%= testimonial.name %></p> </div> <% end %> <% end %> </div> </div> </div> </section> -->

        <section id="detail" class="parallax-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6 col-sm-12">
                        <div class="wow fadeInUp" data-wow-delay="1.2s">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RcmrbNRK-jY" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="detail" class="parallax-section menufooter">
            <div class="wow fadeInLeft" data-wow-delay="0.3s">
                <div class="row" style="width: 100%;" style="height: 100%;">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                         <a href="#intro"  class="link-footer">
                            <img id="img1" onmouseover="change('img1');" onmouseout="changeReset('img1');" class="img-fluid" src="/images/home.png" style="width:80%;">
                            </img>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <a href="/accommodation" class="link-footer">
                            <img id="img2" onmouseover="change('img2');" onmouseout="changeReset('img2');" class="img-fluid" src="/images/next.png" style="width:80%;">
                            </img>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <a href="/investment" class="link-footer">
                            <img id="img3" onmouseover="change('img3');" onmouseout="changeReset('img3');" class="img-fluid" src="/images/investment.png" style="width:80%;">
                            </img>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <a href="/contacts" class="link-footer">
                           <img id="img4" onmouseover="change('img4');" onmouseout="changeReset('img4');" class="img-fluid" src="/images/contact.png" style="width:80%;">
                        </a>
                    </div>
                </div>

            </div>
        </section>
