
	<!-- begin header -->
	<header id="fh5co-header" class="fh5co-cover" style="background-image:url(images/background-main.jpeg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeInUp">
							<h1>Abroad experiences leads to fluency.</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- end header -->

	<!-- begin content -->
	<div id="fh5co-services" class="fh5co-bg-section">
		<div class="container">
			<!--
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-center animate-box" data-animate-effect="fadeInUp">
					<div class="fh5co-heading">
						<h2>O que fazemos</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
			</div>
			-->
			<div class="row">
				<div class="col-md-offset-1 col-md-2 col-sm-4 col-xs-6 parent">
					<a href="#about">
						<div id = "sections" class="feature-center animate-box text-center child" data-animate-effect="fadeInUp">
							<h3></br>Program</h3>
							<span class="icon">
									<i class = "fa fa-comments"></i>
							</span>
						</div>
					</a>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6">
					<a href="#photos">
						<div id = "sections" class="feature-center animate-box text-center" data-animate-effect="fadeInUp">
							<h3></br>Photos</h3>
							<span class="icon">
									<i class = "fa fa-camera"></i>
							</span>
						</div>
					</a>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6">
					<a href="#next-tour">
						<div id = "sections" class="feature-center animate-box text-center" data-animate-effect="fadeInUp">
							<h3></br>Next Tour</h3>
							<span class="icon">
									<i class = "fa fa-globe"></i>
							</span>
						</div>
					</a>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6">
					<a href="#videos">
						<div id = "sections" class="feature-center animate-box text-center" data-animate-effect="fadeInUp">
							<h3></br>Videos</h3>
							<span class="icon">
									<i class = "fa fa-video-camera"></i>
							</span>
						</div>
					</a>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6">
					<a href="#contato">
						<div id = "sections" class="feature-center animate-box text-center" data-animate-effect="fadeInUp">
							<h3></br>Contact</h3>
							<span class="icon">
									<i class = "fa fa-envelope"></i>
							</span>
						</div>
					</a>
				</div>
				<!--
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="feature-center animate-box" data-animate-effect="fadeInUp">
						<span class="icon">
							<div class="icon-place img-icon"></div>
						</span>
						<h3>Lorem ipsum</h3>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="feature-center animate-box" data-animate-effect="fadeInUp">
						<span class="icon">
							<div class="icon-bookshelf img-icon"></div>
						</span>
						<h3>Lorem ipsum</h3>
					</div>
				</div>
			-->
			</div>
		</div>
	</div>

	<div id="fh5co-project">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading  animate-box">
					<h2>Latest travels</h2>
					<p>Check out some pictures of our tours</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="images/medium/beach/pexels-photo-132037.jpg" class="image-popup">
						<img alt="" src="images/medium/beach/pexels-photo-132037.jpg" class="img-responsive">
						<h3>Lorem Ipsum</h3>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="images/medium/beach/pexels-photo-63911.jpg" class="image-popup">
						<img alt="" src="images/medium/beach/pexels-photo-63911.jpg" class="img-responsive">
						<h3>Lorem Ipsum</h3>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="images/medium/beach/pexels-photo-88212.jpg" class="image-popup">
						<img alt="" src="images/medium/beach/pexels-photo-88212.jpg" class="img-responsive">
						<h3>Lorem Ipsum</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Program</h2>
					<p>SGO 6 is a language immersion tour, with focus in [...]</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-tour">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading  animate-box">
					<h2>Next classes</h2>
					<p>Keep an eye on the options and dates!</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<div class="container-image">
					  <img src="images/medium/beach/pexels-photo-132037.jpg" alt="Avatar" class="image">
					  <div class="overlay-image">
					    <div class="text">
								<h3>Fortaleza - CE</h3>
								<p>consectetur adipiscing elit</p>
								<p><i class="fa fa-calendar"></i> 10/12/2017</p>
								<p><i class="fa fa-user"></i> 0/8</p>
							</div>
					  </div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<div class="container-image">
					  <img src="images/medium/beach/pexels-photo-63911.jpg" alt="Avatar" class="image">
					  <div class="overlay-image">
							<div class="text">
								<h3>Fortaleza - CE</h3>
								<p>consectetur adipiscing elit</p>
								<p><i class="fa fa-calendar"></i> 10/12/2017</p>
								<p><i class="fa fa-user"></i> 0/8</p>
							</div>
					  </div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<div class="container-image">
					  <img src="images/medium/beach/pexels-photo-88212.jpg" alt="Avatar" class="image">
					  <div class="overlay-image">
							<div class="text">
								<h3>Fortaleza - CE</h3>
								<p>consectetur adipiscing elit</p>
								<p><i class="fa fa-calendar"></i> 10/12/2017</p>
								<p><i class="fa fa-user"></i> 0/8</p>
							</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div id="fh5co-project">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading  animate-box">
					<h2>Vídeos</h2>
					<p>Confira algumas fotos de intercâmbios</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="images/medium/beach/pexels-photo-132037.jpg" class="image-popup">
						<img alt="" src="images/medium/beach/pexels-photo-132037.jpg" class="img-responsive">

						<h3>Lorem Ipsum</h3>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="images/medium/beach/pexels-photo-63911.jpg" class="image-popup">
						<img alt="" src="images/medium/beach/pexels-photo-63911.jpg" class="img-responsive">
						<h3>Lorem Ipsum</h3>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="images/medium/beach/pexels-photo-88212.jpg" class="image-popup">
						<img alt="" src="images/medium/beach/pexels-photo-88212.jpg" class="img-responsive">
						<h3>Lorem Ipsum</h3>
					</a>
				</div>
			</div>
		</div>
	</div> -->
	<div id="contato">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading  animate-box">
					<h2>Contact Us!</h2>
					<p>Don't wait any longer, contact us right now!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-md-push-1 animate-box">
					<div class="fh5co-contact-info">
						<h3>Location</h3>
						<ul>
							<li class="address">Av. Silas Munguba, 1700 <br> Fortaleza - CE</li>
							<li class="phone"><a href="tel://1234567920">+55 (85) 0000-0000</a></li>
							<li class="email"><a href="mailto:info@yoursite.com">contato@acensjr.com</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<form action="#">
						<div class="row form-group">
							<div class="col-md-12">
								<label for="fname">Name</label>
								<input type="text" id="fname" class="form-control" placeholder="Your name">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label for="email">Email</label>
								<input type="text" id="email" class="form-control" placeholder="Your e-mal address">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-6">
								<label for="subject">Phone</label>
								<input type="text" id="subject" class="form-control" placeholder="Phone for contat">
							</div>
							<div class="col-md-6">
								<label for="subject">Conversation level</label>
								<select class="contact[level] form-control" name="level">
										<option value="1">Basic</option>
										<option value="2">Intermediate</option>
										<option value="3">Advanced</option>
								</select>
								<!-- <input type="text" id="subject" class="form-control" placeholder="Your subject of this message"> -->
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label for="email">Language of attendance</label>
								<input type="text" id="atendimento" class="form-control" placeholder="What's your preference?">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label for="message">History</label>
								<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Your experiences with the language"></textarea>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="Send" class="btn btn-primary">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- end content -->

	<!-- begin footer -->
	<footer id="fh5co-footer">
		<div class="container">
			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2017 usit. Todos os direitos reservados.</small>
						<small class="block">Desenvolvido por  <a href="https://www.behance.net/delcode920dc4" target="_blank">Acens </a> </small>
					</p>
					<ul class="fh5co-social-icons">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
						<li><a href="https://www.behance.net/delcode920dc4"><i class="icon-behance"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
