<!-- ========================= INTRO SECTION ============================== -->

<section id="intro" class="parallax-section">

  <div class="container">

    <!-- <div class = "row sgo6_header">
      <h1 class = "wow bounceIn">SGO <i>6</i></h1>
      <p>language immersion tour</p>
    </div> -->

    <div class="row">

      <div class="col-md-12 col-sm-12">
        <h2 class="wow bounceIn nome_descritivo" data-wow-delay="0.9s">#small</br></br> group</br></br> of six</h2>
      </div>

    </div>
  </div>
</section>

<section id = "detail" class="parallax-section">
  <h1 class="wow fadeInUp" data-wow-delay="1.6s">Abroad experiences leads to fluency</h1>
  <!-- <a href="#overview" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">More info</a> -->
</section>

<!-- ========================= VIDEO SECTION ============================== -->
<section id="video" class="parallax-section">
  <div class="container">
    <div class="row">

      <div class="wow fadeInUp col-md-offset-3 col-md-6 col-sm-12" data-wow-delay="1.6s">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RcmrbNRK-jY" allowfullscreen="allowfullscreen"></iframe>
        </div>
      </div>

    </div>
  </div>
</section>

    <!-- ========================= ABOUT US SECTION ============================== -->
    <section id="overview" class="parallax-section">
      <div class="container">
        <div class="row">

          <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s">
            <h3 class="text-cap">Why you should join us</h3>
            <p>We believe every second language learner needs the opportunity to
              make use of their skills in the country where it is spoken.
              Experiential learning has an effective impact on the process of
              building confidence to speak a language naturally.
            </p>
          </div>

          <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="0.6s">
            <img src="images/climate-kic-350836.jpg" class="img-responsive" alt="Overview">
          </div>

        </div>
      </div>
    </section>

  <section id="faq" class="parallax-section">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-12">
        <div id="owl-images" class="owl-carousel">
          <% @galleries.each do |gallery| %>
            <div>
              <%= image_tag gallery.photo %>
              <h3 class="text-center"><%= gallery.title %></h3>
            </div>
          <% end %>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="depoimentos col-md-offset-3 col-md-6">
        <div id="owl-testimonials" class="owl-carousel">
          <% unless @testimonials.nil? %>
            <% @testimonials.each do |testimonial| %>
            <div class="testimonial">
              <h4>"<%= testimonial.quote %>"</h4>
              <p class="text-right"><%= testimonial.name %></p>
            </div>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </section>

  <section id="detail" class="parallax-section">
  	<div class="container">
  		<div class="row">

  			<div class="wow fadeInLeft col-md-2 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" data-wow-delay="0.3s">
  				<a href="gallery" class="smoothScroll">

            <h3>
              <i class="float-left fa fa-camera"></i>
              Gallery
            </h3>
  				</a>
  			</div>

  			<div class="wow fadeInUp col-md-2 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" data-wow-delay="0.6s">
  				<a href="contacts" class="smoothScroll">

  					<h3>Contact us <i class="float-right fa fa-phone"></i></h3>
  				</a>
  			</div>

  			<div class="wow rotateInDownLeft col-md-2 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" data-wow-delay="0.9s">
  				<a href="accommodation" class="smoothScroll">

  					<h3> <i class="float-left fa fa-bed"></i> Accommodation</h3>
  				</a>
  			</div>
  			<div class="wow rotateInDownRight col-md-2 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" data-wow-delay="1.2s">
  				<a href="investment" class="smoothScroll">
  					<h3>Investment <i class="float-right fa fa-money"></i></h3>
  				</a>
  			</div>
  			<div class="wow fadeInDown col-md-2 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" data-wow-delay="1.8s">
  				<a href="contacts/new" class="smoothScroll">
  					<h3><i class="float-left fa fa-plane"></i> Book Now</h3>
  				</a>
  			</div>
  		</div>
  	</div>
  </section>
