<!-- =========================
    INTRO SECTION
============================== -->
<section id="intro" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-sm-12">
				<h3 class="wow bounceIn" data-wow-delay="0.9s">Small Group of Six: Language Immersion Tour</h3>
				<h1 class="wow fadeInUp" data-wow-delay="1.6s">Abroad experiences leads to fluency</h1>
			</div>


		</div>
	</div>
</section>
<div class="container">
  <%= render 'form' %>
</div>
