 @import "animate";
 @import "icomoon";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "magnific-popup";
 @import "style";
 @import "media-query";
 @import "flip";

.img-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // margin: auto;
}

.icon-airplane {
  background-image: url(icon/icon-airplane.svg);
}

.icon-bookshelf {
  background-image: url(icon/icon-bookshelf.svg);
}

.icon-place {
  background-image: url(icon/icon-place.svg);
}
