 @import "bootstrap.min";
 @import "animate";
 @import "magnific-popup";
 @import "font-awesome.min";
 @import "owl.theme.default.min";
 @import "owl.carousel.min";
 @import "flip";
 @import "gallery";
 @import "style";

.navbar img {
  height: 40px;
}
#intro h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  line-height: 0.5;
}

.navbar {
  background-color: black !important;
}

 .pre-loader{
     position: fixed;
     top:0;
     left:0;
     bottom: 0;
     right: 0;
     background: #fff;
     z-index: 99999;
 }

.pre-loader .preloader-gif{
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    // background-color: black;
    background: url('load.gif') no-repeat;
}

.img-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // margin: auto;
}

.icon-airplane {
  background-image: url(icon/icon-airplane.svg);
}

.icon-bookshelf {
  background-image: url(icon/icon-bookshelf.svg);
}

.icon-place {
  background-image: url(icon/icon-place.svg);
}

#register option {color:black} //Ou outra cor escura

#register select {
  color: white !important;
}


#intro h1,
#intro h2,
#intro h3,
#intro h4,
#intro h5,
#intro h6 {
  text-shadow: 1px 1px black;
}

.nome_descritivo{
  font-size: 500%
}


.sgo6_header{
  background-color: black;
}

.sgo6_header i{
  color: #61aef4;
}

.text-cap {
  text-transform: capitalize;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

#faq .row {
  margin-left: 0px;
  margin-right: 0px;
}

#detail .wow {
  margin-left: 0px;
}

.accommodation img{
  width: 850;
  height: 566;
}

.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}


#detail .ion-ios-world {
  font-size: 48px;
}

#intro {
  padding-top: 14rem;
}

#venue,
#contactform,
#investmentpage {
  padding-top: 14rem;
  padding-bottom: 14rem;
}
