 @import "bootstrap.min";
 @import "animate";
 @import "magnific-popup";
 @import "font-awesome.min";
 @import "owl.theme.default.min";
 @import "owl.carousel.min";
 @import "flip";
 @import "gallery";
 @import "style";



.img-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // margin: auto;
}

.icon-airplane {
  background-image: url(icon/icon-airplane.svg);
}

.icon-bookshelf {
  background-image: url(icon/icon-bookshelf.svg);
}

.icon-place {
  background-image: url(icon/icon-place.svg);
}

#register option {color:black} //Ou outra cor escura

#register select {
  color: white !important;
}


#intro h1,
#intro h2,
#intro h3,
#intro h4,
#intro h5,
#intro h6 {
  text-shadow: 1px 1px black;
}

.nome_descritivo{
  font-size: 500%
}


.sgo6_header{
  background-color: black;
}

.sgo6_header i{
  color: #61aef4;
}

.text-cap {
  text-transform: capitalize;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

#faq .row {
  margin-left: 0px;
  margin-right: 0px;
}

#detail .wow {
  margin-left: 0px;
}

.accommodation img{
  width: 850;
  height: 566;
}
