/*---------newest project------*/
#photos .fh5co-project {
  margin-bottom: 30px;
}
#photos .fh5co-project > a {
  display: block;
  color: #000;
  position: relative;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#photos .fh5co-project > a img {
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#photos .fh5co-project > a:after {
  opacity: 0;
  visibility: hidden;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-box-shadow: inset 0px -86px 116px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -86px 116px -8px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -86px 116px -8px rgba(0, 0, 0, 0.75);
  z-index: 8;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#photos .fh5co-project > a h3 {
  z-index: 12;
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 0px;
  color: #fff;
  margin: 0;
  padding: 0;
  opacity: 0;
  font-size: 20px;
  font-weight: 300;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#photos .fh5co-project > a:hover {
  -webkit-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
}

#photos .fh5co-project > a:hover:after {
  opacity: 1;
  visibility: visible;
}

#photos .fh5co-project > a:hover h3 {
  opacity: 1;
  visibility: visible;
  bottom: 20px;
}

#photos .fh5co-project > a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
