<div class = "container">
  <section id="photos" class="parallax-section">
  	<div class="container">
  		<div class="row">
  			<div class="wow bounceIn col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 text-center animated" style="visibility: visible; animation-name: bounceIn;">
  				<div class="section-title">
  					<h2>Accomodation</h2>
  					<p>Quisque facilisis scelerisque venenatis. Nam vulputate ultricies luctus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
  				</div>
  			</div>
<!--  -->
  				<div class="col-md-4 col-sm-6 fh5co-project animate-box " data-animate-effect="fadeIn">
  					<a href="images/accommodation/002-20160130-110LasFuentesDr-Kissimmee-FL-SMALL.jpg" class="image-popup">
  						<img alt="" src="images/accommodation/002-20160130-110LasFuentesDr-Kissimmee-FL-SMALL.jpg" class="img-responsive">
  						<h3>Lorem Ipsum</h3>
  					</a>
  				</div>
  				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
  					<a href="images/accommodation/003-20160130-110LasFuentesDr-Kissimmee-FL-SMALL.jpg" class="image-popup">
  						<img alt="" src="images/accommodation/003-20160130-110LasFuentesDr-Kissimmee-FL-SMALL.jpg" class="img-responsive">
  						<h3>Lorem Ipsum</h3>
  					</a>
  				</div>
  				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
  					<a href="images/accommodation/007-20160130-110LasFuentesDr-Kissimmee-FL-SMALL.jpg" class="image-popup">
  						<img alt="" src="images/accommodation/007-20160130-110LasFuentesDr-Kissimmee-FL-SMALL.jpg" class="img-responsive">
  						<h3>Lorem Ipsum</h3>
  					</a>
  				</div>
<!--  -->
          <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
  					<a href="images/accommodation/008-20160130-110LasFuentesDr-Kissimmee-FL-SMALL.jpg" class="image-popup">
  						<img alt="" src="images/accommodation/008-20160130-110LasFuentesDr-Kissimmee-FL-SMALL.jpg" class="img-responsive">
  						<h3>Lorem Ipsum</h3>
  					</a>
  				</div>
  				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
  					<a href="images/accommodation/009-20160130-110LasFuentesDr-Kissimmee-FL-SMALL.jpg" class="image-popup">
  						<img alt="" src="images/accommodation/009-20160130-110LasFuentesDr-Kissimmee-FL-SMALL.jpg" class="img-responsive">
  						<h3>Lorem Ipsum</h3>
  					</a>
  				</div>
  				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
  					<a href="images/accommodation/016-20160130-110LasFuentesDr-Kissimmee-FL-SMALL.jpg" class="image-popup">
  						<img alt="" src="images/accommodation/016-20160130-110LasFuentesDr-Kissimmee-FL-SMALL.jpg" class="img-responsive">
  						<h3>Lorem Ipsum</h3>
  					</a>
  				</div>
<!--  -->
          <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
            <a href="images/accommodation/020-20160130-110LasFuentesDr-Kissimmee-FL-SMALL.jpg" class="image-popup">
              <img alt="" src="images/accommodation/020-20160130-110LasFuentesDr-Kissimmee-FL-SMALL.jpg" class="img-responsive">
              <h3>Lorem Ipsum</h3>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
            <a href="images/accommodation/022-20160130-110LasFuentesDr-Kissimmee-FL-SMALL.jpg" class="image-popup">
              <img alt="" src="images/accommodation/022-20160130-110LasFuentesDr-Kissimmee-FL-SMALL.jpg" class="img-responsive">
              <h3>Lorem Ipsum</h3>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
            <a href="images/accommodation/43.jpg" class="image-popup">
              <img alt="" src="images/accommodation/43.jpg" class="img-responsive">
              <h3>Lorem Ipsum</h3>
            </a>
          </div>

  			</div>
  		</div>
  </section>
</div>
