<footer id="">
		<div class="container">


			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">© 2016 del-code. All Rights Reserved.</small>
						<small class="block">Designed by <a href="https://www.behance.net/delcode920dc4" target="_blank">del-code.com</a> </small>
					</p>
					<ul class="fh5co-social-icons">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
						<li><a href="https://www.behance.net/delcode920dc4"><i class="icon-behance"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
