<footer id="">
				<div class="col-md-12 text-center">
					<p><small class="block">© 2018 OFSIX. All Rights Reserved.</small><small class="block">Designed by <a href="https://www.acensjr.com" target="_blank">Acens</a> </small>
					</p></div>
	</footer>
