<footer id="">
	<div class="col-md-12 text-left">
		<p class="usit-footer">
			<small class="block">&copy; 2018 OFSIX. All rights reserved.&nbsp;&nbsp;&nbsp;</small>
			<a href="#">
				<small>Terms & Conditions</small>
			</a>
		</p>
		<div class="container text-right">
			<div class="row">
				<div class="footer">
					<div class="col-md-12">
						<div class="contact-socials text-right">
							<a class="contact-icons" href="#">
								<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
							</a>
							<a class="contact-icons" href="#">
								<i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
							</a>
							<a class="contact-icons" href="#">
								<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
							</a>
							<a class="contact-icons" href="#">
								<i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
