<li><a href="#intro" class="smoothScroll">Intro</a></li>
<li><a href="#video" class="smoothScroll">Videos</a></li>
<li><a href="#overview" class="smoothScroll">Program</a></li>
<li><a href="#faq" class="smoothScroll">Photos</a></li>
