<!-- begin navbar -->
<nav class="fh5co-nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div id="fh5co-logo"><a href="index-2.html">Usit<span>.</span></a></div>
      </div>
      <div class="col-xs-12 text-center menu-1">
        <ul>
          <li class="active"><a href="index-2.html">Início</a></li>
          <li><a href="#">Programa</a></li>
          <li><a href="disc.html">Objetivos</a></li>
          <li><a href="about.html">Next tour</a></li>
          <li><a href="blog.html">Vídeos</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- end navbar -->
