<div class="navbar navbar-fixed-top custom-navbar" role="navigation" style="width:100%;">
	<div class="container">

		<!-- navbar header -->
		<div >
			<div class="row ">
				<div class="col-md-2 col-xs-11">
					<%= link_to root_url, class: "navbar-brand external" do %>
					<img src="/images/logo-medium.png" class="responsive" alt="">
				<% end %>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-8 text-right">
				<a href="#detail"><h4 class="text-right">Language Immersion Tours</h4></a>
				</div>
			</div>




	</div>

</div>
</div>
