<!-- begin navbar -->
<nav class="fh5co-nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div id="fh5co-logo"><a href="index-2.html">Usit<span>.</span></a></div>
      </div>
      <div class="col-xs-12 text-center menu-1">
        <ul>
          <li class="active"><a href="#fh5co-header">Início</a></li>
          <li><a href="#fh5co-services">Sobre</a></li>
          <li><a href="#fh5co-project">Fotos</a></li>
          <li><a href="#fh5co-tour">Next tour</a></li>
          <li><a href="#">Vídeos</a></li>
          <li><a href="#fh5co-contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- end navbar -->
